body {
    background-color: grey;
}
.top-bar {
    border: 1px solid green;
    width: 100%;
    height: 20px;
    display: flex;

}

.top-bar {
    margin-right: 10px;
}

.header {
    border: 1px solid red;
    width: 100%;
    height: 20px;
}
.nav-bar {
    border: 1px solid purple;
    width: 100%;
    height: 20px;
}
.main {
    border: 1px solid yellow;
    width: 100%;
    height: 20px;
}